.works-containeer{
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.block-name h1{
    color: #fff;
    font-weight: 900;
}

.block-work-list{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.work{
    width: 400px;
    height: 400px;
    background: #131319;
    border: 1px solid #40454E;
    box-shadow: 10px 10px 0px #FF4E50;
    padding: 10px;
}

.work h2{
    color: #fff;
    text-align: center;
    font-weight: 400;
}

.work h3{
    color: #BFBFBF;
    font-weight: normal;
    font-size: 20px;
}

.work button{
    border: 1px solid #FF4E50;
    width: 390px;
    height: 60px;
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    margin-left: 5px;
}

.work:hover button{
    background-color: #FF4E50;
    transition: 1s;
}

@media screen and (max-width: 1536px) {
    h1{
        font-size: 30px;
    }
    .work{
        width: 300px;
        height: 300px;
    }
    
    .work button{
        width: 290px;
        height: 50px;
        margin-top: 100px;
    }
}